<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a routerLink="contact">about us</a></li>
                    <li><a routerLink="#">our services</a></li>
                    <li><a routerLink="#">privacy policy</a></li>
                    <li><a routerLink="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a routerLink="#">FAQ</a></li>
                    <li><a routerLink="#">shipping</a></li>
                    <li><a routerLink="#">returns</a></li>
                    <li><a routerLink="#">order status</a></li>
                    <li><a routerLink="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>The most popular cars</h4>
                <ul>
                    <li><a routerLink="#">Toyota Yaris</a></li>
                    <li><a routerLink="#">Toyota Auris</a></li>
                    <li><a routerLink="#">Toyota Avensis</a></li>
                    <li><a routerLink="#">Toyota RAV4</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Menu</h4>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                    <li><a routerLink="gallery">Gallery</a></li>
                    <li><a routerLink="table">Table</a></li>
                
                </ul>
            </div>
            
        </div>
    </div>
</footer>