<div class="hero-png">
  <img src="/assets/images/1.jpg" width="100%" height="900px" />
  <div class="manufacturer">
    <h1>TOYOTA</h1>
  </div>

  <div class="wrapper">
    <h1 class="top">Top 5 TOYOTA cars</h1>

    <div class="main">
      <div class="content">
        <div class="content-in">
          <h2 class="manu">Car 1</h2>
          <p>
            There are individual virtual reality games and multi-player, online
            virtual reality games. Some VR games (which for purposes of this FAQ
            include games based on VR, AR, and/or MR) place players in physical
            combat environments, while others involve less confrontational
            pursuits, such as auto racing and acrobatic flying. Other VR games
            challenge players – either alone or with others – to solve problems,
            move objects, or explore new places. There are individual virtual
            reality games and multi-player, online virtual reality games. Some
            VR games (which for purposes of this FAQ include games based
          </p>
        </div>
        <div class="content-img">
          <img class="img1" src="/assets/images/2.jpg" width="100%" height="400px" alt="" />
        </div>
      </div>

      <div class="content1">
        <div class="content-in1">
          <h2 class="manu">Car 2</h2>
          <p>
            There are individual virtual reality games and multi-player, online
            virtual reality games. Some VR games (which for purposes of this FAQ
            include games based on VR, AR, and/or MR) place players in physical
            combat environments, while others involve less confrontational
            pursuits, such as auto racing and acrobatic flying. Other VR games
            challenge players – either alone or with others – to solve problems,
            move objects, or explore new places. There are individual virtual
            reality games and multi-player, online virtual reality games. Some
            VR games (which for purposes of this FAQ include games based
          </p>
        </div>
        <div class="content-img1">
          <img class="img" src="/assets/images/1.jpg" width="100%" height="400px" alt="" />
          <img
            class="h-img"
            src="/assets/images/1.jpg"
            width="100%"
            height="400px"
            alt=""
            srcset=""
          />
        </div>
      </div>

      <div class="content3">
        <h2 class="manu">Car 3</h2>

        <p>
          There are individual virtual reality games and multi-player, online
          virtual reality games. Some VR games (which for purposes of this FAQ
          include games based on VR, AR, and/or MR) place players in physical
          combat environments, while others involve less confrontational
          pursuits, such as auto racing and acrobatic flying. Other VR games
          challenge players – either alone or with others – to solve problems,
          move objects, or explore new places. There are individual virtual
          reality games and multi-player, online virtual reality games. Some VR
          games (which for purposes of this FAQ include games based
        </p>

        <img class="img" src="/assets/images/4.jpg" width="100%" height="400px" alt="" />
        <img
          class="h-img"
          src="/assets/images/4.jpg"
          height="400px"
          width="100%"
          alt=""
          srcset=""
        />
      </div>

      <div class="content4">
        <div class="content-in2">
          <h2 class="manu">Car 4</h2>

          <p>
            There are individual virtual reality games and multi-player, online
            virtual reality games. Some VR games (which for purposes of this FAQ
            include games based on VR, AR, and/or MR) place players in physical
            combat environments, while others involve less confrontational
            pursuits, such as auto racing and acrobatic flying. Other VR games
            challenge players – either alone or with others – to solve problems,
            move objects, or explore new places. There are individual virtual
            reality games and multi-player, online virtual reality games. Some
            VR games (which for purposes of this FAQ include games based
          </p>
        </div>
        <div class="content-img2">
          <img class="img" src="/assets/images/5.jpg" width="100%" height="300px" walt="" />
          <img
            class="h-img"
            src="/assets/images/5.jpg"
            height="400px"
            width="100%"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>

    <div class="content5">
      <div class="content-in5">
        <h2 class="manu">Car 5</h2>
        <p>
          There are individual virtual reality games and multi-player, online
          virtual reality games. Some VR games (which for purposes of this FAQ
          include games based on VR, AR, and/or MR) place players in physical
          combat environments, while others involve less confrontational
          pursuits, such as auto racing and acrobatic flying. Other VR games
          challenge players – either alone or with others – to solve problems,
          move objects, or explore new places. There are individual virtual
          reality games and multi-player, online virtual reality games. Some VR
          games (which for purposes of this FAQ include games based
        </p>
      </div>
      <div class="content-img5">
        <img class="img" src="/assets/images/6.jpg" width="100%" height="400px" alt="" />
        <img
          class="h-img"
          src="/assets/images/6.jpg"
          width="100%"
          height="400px"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</div>
